<h1>All Accounts</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Balance</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.id %></td>
        <td><%= account.user %></td>
        <td><%= number_to_currency(account.balance) %></td>
        <td>
          <%= link_to 'View', account_path(account), class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_account_path(account), class: 'btn btn-secondary' %>
          <%= link_to 'Delete', account_path(account), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
